<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scholarscraper"
    android:versionCode="2"
    android:versionName="1.01" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme" >
        <activity
            android:name="com.scholarscraper.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.scholarscraper.SettingsFragment" />
        <activity android:name="com.scholarscraper.AssignmentPopUp" >
        </activity>

        <service
            android:name="com.scholarscraper.update.UpdateService"
            android:label="Update Service" >
            <intent-filter>
                <action android:name="com.scholarscraper.UPDATE_SERVICE" />
            </intent-filter>
        </service>

        <receiver android:name="com.scholarscraper.alarm.AlarmReceiver" 
                  android:exported="false">
            <intent-filter>
                <action android:name="com.scholarscraper.ALARM_ALERT" />
+               <data android:scheme="android.resource" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.scholarscraper.update.UpdateAtBootReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="UpdateAtBootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>